{% extends 'base.html' %}

{% block pageheading %}Add A Word{% endblock %}

{% block main %}
<form class="myform" method="post">
    <div class="form-group">
        <div class="form-label">Category:</div>
        <div class="form-element"><input id="category" name="category" type="text" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Word/Phrase (English):</div>
        <div class="form-element"><input id="english_name" name="english_name" type="text" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Word/Phrase (Maori):</div>
        <div class="form-element"><input id="maori_name" name="maori_name" type="text" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Definition:</div>
        <div class="form-element"><input id="definition" name="definition" type="text" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Level:</div>
        <div class="form-element">
        {% for i in range(10) %}
            <input id="{{ 1 + i }}" id="level" name="level" type="radio" value="{{ 1 + i }}"
                   {% if i == 4 %}
                   checked
                   {% endif %}>
            <label for="{{ 1 + i }}">{{ 1 + i }}</label>
        {% endfor %}
        </div>

    <div class="button-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>


{% endblock %}