{% extends 'base.html' %}

{% block pageheading %}
{{category_name}}
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Maori</th>
        <th>English</th>
        <th>Image</th>
        </tr>
        <tbody>
            {% for maori_name in maori_names %}
                <tr>
                    <td><a href='/category/{{ category_name }}/{{ maori_name[0] }}'>{{ maori_name[0] }}</a></td>
                    <td>{{ maori_name[1] }}</td>
                    {% if maori_name[6] %}
                        <td><img src='/static/images/{{maori_name[6]}}'></td>
                    {% else %}
                        <td><img src='/static/images/noimage.png'></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}