<!--Uses the base to set up nav menu among other things-->
{% extends 'base.html' %}

{% block pageheading %}Login{% endblock %}

<!--Creating a login form with all fields required-->
{% block main %}
<form class="myform" method="POST">
    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><input id="email" name="email" type="email" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input id="password" name="password" type="password" required></div>
    </div>

<!--    Submit button and link to signup page for those who aren't logged in-->
    <div class="button-group">
        <input type="submit" value="Submit"> or <a href="signup">Sign Up</a>
    </div>
</form>


{% endblock %}